.top-block {
	background: url(../img/main-photo.png) no-repeat;
	background-size: cover;
	width: 100%;
	display: block;
	background-position: center center;
	padding: 200px 0 100px;
}
.top-block h1 {
	font-family: "Playfair Display", serif;
	color: #fff;
}
footer.multipage {
	background: url(../img/main-photo.png) no-repeat;
	background-size: cover;
	width: 100%;
	color: #fff;
	display: block;
	background-position: center center;
	padding: 200px 0 100px;
}
footer.multipage .social-icons > li i.fa {
	color: #fff;
}
footer.multipage h2 {
	font-size: 2.5em;
}
footer.mp-main {
	display: none;
}
footer .footer-lines {
	border: none;
	padding: 20px 0;
}
